<v-layout row justify-center>
  <v-dialog v-model="isOpen" persistent max-width="600px">
    <v-card>
      <v-card-title>
        <span class="headline">Добавить комнату</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12 sm6 md6>
              <v-text-field v-model="name" label="Введите название комнаты" required></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 md6>
              <v-text-field v-model="description" label="Описание"></v-text-field>
            </v-flex>
            <v-flex xs12 sm6 d-flex>
              <v-select
                :items="items"
                v-model="item"
                label="Максимальное кол-во участников"
              ></v-select>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" flat @click="isOpen = false">Close</v-btn>
        <v-btn color="blue darken-1" flat @click="submit">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</v-layout>